<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testbinder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22" />

    <permission
        android:name="com.ybb.test">
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.testbinder.BinderRemoteService" >
            <intent-filter>
                <action android:name="com.bb.com" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.testbinder.BookManagerService"
            android:process=":remote"
            android:permission="com.ybb.test" >
            <intent-filter>
                <action android:name="com.bb.test.aidl" />
            </intent-filter>
        </service>
    </application>

</manifest>